.radio-container {
    display: flex;
    justify-content: center;
    margin-top: 20px; /* Adjust this to control the space between the gallery and radio buttons */
    font-size: 1.5em;
    font-weight: bold;
}

.heading {
    text-align: center;
}

.image-container {
    position: relative;
    display: inline-block;
    height: 150px;
    width: 200px;
    box-sizing: border-box;
    margin: 30px 30px 30px 20px;
    transition: border 0.3s;
}
.bordered {
    border: 5px solid rgb(66, 133, 192);
}

.image {
    width: 100%;
    height: 100%;
    margin: 0;
    object-fit: cover;
    display: block;
    border: 1px solid black;
}

.checkbox {
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
    display: none;
}

.checkbox-label {
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    width: 30px;
    height: 30px;
    background-color: rgb(66, 133, 192);
    border: 2px solid #ccc;
    border-radius: 3px;
    display: none;
    align-items: center;
    justify-content: center;
}

.checkbox:checked + .checkbox-label {
    background-color: #ffffff;
    display: flex;
}

.checkbox:checked + .checkbox-label::after {
    content: "";
    width: 6px;
    height: 12px;
    border: solid rgb(222, 22, 22);
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
    position: absolute;
    top: 8px;
    left: 12px;
}

p {
    margin: 0 10px 0 5px;
    text-align: center;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 75px;
}

body {
    font-weight: 400;
    overflow-x: hidden;
    position: relative;
    background-color: #ffffff !important;
    color: #fff !important;
    font-family: "Centra", sans-serif !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
    line-height: normal;
}

p,
a,
li,
button,
ul {
    margin: 0;
    padding: 0;
    line-height: normal;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

img {
    width: 100%;
    height: auto;
}

button {
    border: 0;
    background-color: transparent;
}

input:focus,
textarea:focus,
select:focus {
    outline: none;
}

@media (min-width: 1700px) {
    main .container {
        max-width: 100%;
        padding: 0 150px;
    }
}

nav.navbar {
    background-color: #b6b4b4;
    padding: 18px 0;
    width: 100%;
    top: 0;
    z-index: 9999;
    transition: 0.32s ease-in-out;
}

nav.navbar.scrolled {
    padding: 0px 0;
}

nav.navbar.scrolled_dark {
    padding: 0px 0;
    background-color: #2a2555;
}

nav.navbar a.navbar-brand {
    width: 9%;
}
nav.navbar .navbar-nav .nav-link.navbar-link {
    font-weight: 800;
    color: #000000 !important;
    letter-spacing: 0.8px;
    padding: 0 25px;
    font-size: 18px;
    opacity: 0.75;
}

nav.navbar .navbar-nav a.nav-link.navbar-link:hover,
nav.navbar .navbar-nav a.nav-link.navbar-link.active {
    opacity: 1;
    font-size: 19px;
}
span.navbar-text {
    display: flex;
    align-items: center;
}

.navbar-text button {
    font-weight: 700;
    color: #000000;
    border: 1px solid #fff;
    padding: 18px 34px;
    font-size: 18px;
    margin-left: 18px;
    position: relative;
    background-color: transparent;
    transition: 0.3s ease-in-out;
}

.navbar-text button span {
    z-index: 1;
}

.navbar-text button::before {
    content: "";
    width: 0%;
    height: 100%;
    position: absolute;
    background-color: #fff;
    left: 0;
    top: 0;
    z-index: -1;
    transition: 0.3s ease-in-out;
}
.navbar-text button:hover {
    color: #121212;
}
.navbar-text button:hover::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
}
nav.navbar .navbar-toggler:active,
nav.navbar .navbar-toggler:focus {
    outline: none;
    box-shadow: none;
}
nav.navbar .navbar-toggler-icon {
    width: 24px;
    height: 17px;
    background-image: none;
    position: relative;
    border-bottom: 2px solid #fff;
    transition: all 300ms linear;
    top: -2px;
}
nav.navbar .navbar-toggler-icon:focus {
    border-bottom: 2px solid #fff;
}
nav.navbar .navbar-toggler-icon:after,
nav.navbar .navbar-toggler-icon:before {
    width: 24px;
    position: absolute;
    height: 2px;
    background-color: #fff;
    top: 0;
    left: 0;
    content: "";
    z-index: 2;
    transition: all 300ms linear;
}
nav.navbar .navbar-toggler-icon:after {
    top: 8px;
}
nav.navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:after {
    transform: rotate(45deg);
    background-color: #fff;
    height: 2px;
}
nav.navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:before {
    transform: translateY(8px) rotate(-45deg);
    background-color: #fff;
    height: 2px;
}
nav.navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
    border-color: transparent;
}

/*applying the dark themes to switch when toggle button clicked*/
.navbar.light {
    background-color: #b6b4b4;
}

.navbar.dark {
    background-color: #000000;
}

.navbar.dark .navbar-nav .nav-link.navbar-link {
    color: #ffffff !important; 
}

.navbar.light .navbar-nav .nav-link.navbar-link {
    color: #000000 !important; 
}

.navbar .navbar-nav a.nav-link.navbar-link:hover,
.navbar .navbar-nav a.nav-link.navbar-link.active {
    opacity: 1;
    font-size: 19px;
}


.theme-switch {
    margin-top: -3px;;
    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.theme-switch .switch {
    width: 60px; 
    height: 30px; 
    border-radius: 30px;
    background-color: #f0d47e;
    position: relative;
    transition: background-color 0.3s ease;
}

.theme-switch .switch.light {
    background-color: #f0d47e; 
}

.theme-switch .switch.dark {
    background-color: #223445; 
}

.theme-switch .switch-circle {
    width: 26px; 
    height: 26px; 
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    top: 2px; /* Adjusted positioning */
    left: 2px;
    transition: left 0.3s ease;
    background-image: url('images/sun-icon.png');
    background-size: cover;
}

.theme-switch .switch.dark .switch-circle {
    left: 32px; 
    background-image: url('images/moon-icon.jpg');
    background-size: cover;
}


.theme-label {
    margin-left: 10px;
    font-weight: 600;
    color: #fff;
    transition: color 0.3s ease;
}

body.light-theme .theme-label {
    color: #000;
}

body.dark-theme .theme-label {
    color: #fff;
}

.footer {
    padding: 8px 0;
    transition: background-color 0.3s ease, color 0.3s ease;
    width: 100%;
}

.footer.light {
    background-color: #b6b4b4;
}

.footer.light .footerText {
    color: #000;
}

.footer.dark {
    background-color: #000000;
}

.footer.dark .footerText {
    color: #fff; 
}

.footer img {
    width: 90px;
    transition: opacity 0.3s ease;
}

.footer.dark img {
    opacity: 0.8;
}


.graphWinner-container {
    width: 100%;
    display: flex;            
    margin: 20px 0;    
    background-color:#000000;     
}

.graphWinner-container > * {
    display:block;
  }



@media (max-width: 1250px) {
    .graphWinner-container {
        flex-direction: column; 
    }

    .result-graph,
    .winner-graph {
        flex: 0 0 100%;      
    }
}

@media (max-width: 768px) {
    .candidate-grid {
      display: block; /* Stack elements vertically */
    }
    .candidate-card {
      width: 100%; /* Full width on small screens */
    }
  }
  
  @media (min-width: 769px) {
    .candidate-grid {
      display: grid; /* Display grid layout for larger screens */
      grid-template-columns: repeat(5, 1fr); /* Adjust grid columns */
    }
  }

  .card-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* Adjusts based on space */
    gap: 1rem; /* Adjust spacing between cards */
    max-width: 100%; /* Prevent exceeding boundaries */
}

.card-summary {
    width: 98%; /* Adjusted for consistent layout */
    text-align: left;
    height: 100%;
    margin: 0 1rem 1rem 1rem;
}


@media (max-width: 400px) {
    .card-container {
        grid-template-columns: 1fr; /* One column on very small screens */
    }
    .CandidateDiv {
        width: 100%; /* Full width */
    }
}